body {
	margin: 0;
}

#logo {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 28px;
	background-color: dodgerBlue;
	padding: 10px;
	display: flex;
	float: left;
}

#nav {
	background-color: dodgerBlue;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#nav > a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

#users {
	font-weight: bold;
}
